#container{
    width:80%;
    border:1px solid #ccc;
    margin:0 auto;
}
header{
    width:100%;
    height:300px;
    border:1px solid #ccc;
}
section{
    width:100%;
    height:600px;

    border:1px solid #ccc;
}
footer{
    width:100%;
    border:1px solid #ccc;
}

@media screen and (max-width:767px){
    #container{
        background:brown;
        color:white;
    }
}
@media screen and (min-width:768px){
    #container{
        background:blue;
        color:white;
    }
}
@media screen and (min-width:960px){
    #container{
        background:black;
        color:white;
    }
}