@charset "UTF-8";


	#container{
		width:400px;
		margin:0 auto;
		
		border:2px solid #ccc;
	}
	
	ul li{
		list-style:none;
		margin:15px;
		
	}
		li label{
			width:80px;
			float:left;
		}
		input[type="submit"]{
		width:250px;
		margin-botton:20px;
		}
		
		h2{
			text-align: center;
			
		}

