#wrapper{
    width:600px;
    margin: 0 auto;
}
h2{text-align: center;}
form{
    background:#6767a3;
    text-align: center;
    padding:30px 40px;
}
input{width:420px; padding:10px}
button{
    width:60px;
}